.content {
    display: block;
    position: relative;
}
.content--rewevs {
    margin-top: 33px; 
}
.content__item:last-child {
    content: "";
    border-bottom: 0;
}
.content__item {
    display: flex;
    position: relative;
    text-align: left;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid #f5f5f5;
}
.content__avatar {
    position: relative;
    display: inline-block;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    overflow: hidden;
    vertical-align: top;
}
.content__text {
    display: inline-block;
    position: relative;
    width: 695px;
    line-height: 30px;
    font-size: 18px;
    margin-left: 20px;
}
.content__avatar-pic {
    max-height: 100%;
    object-fit: cover;
}
.content__date {
    font-weight: lighter;
    font-size: 14px;
}
.content__title {
    margin-top: 2.5px;
    margin-bottom: 6px;
    font-weight: bold;
}
